<h1>{{title}}<small>alterEgo</small></h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="20px"
      fxLayoutGap.xs="0"
    >
      <mat-form-field fxFlex="100">
        <mat-label>Super Hero</mat-label>
        <input type="text" matInput [(ngModel)]="hero.superhero" required />
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input type="text" matInput [(ngModel)]="hero.alter_ego" required />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>First Appearance</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="hero.first_appearance"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Characters</mat-label>
      <input type="text" matInput [(ngModel)]="hero.characters" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <mat-select [(ngModel)]="hero.publisher">
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id"
          >{{ publisher.desc }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Url Photo</mat-label>
      <input type="url" matInput [(ngModel)]="hero.image" required />
    </mat-form-field>
    <br />

    <button mat-raised-button color="accent" (click)="saveHero()">
      <mat-icon>save</mat-icon>Save
    </button>
  </div>
  <div fxFlex="50">
    <img [src]="hero | image" alt="hero image" />
  </div>
</div>
