<div fxLayout="column">
  <div>
    <h1>Heroes searcher</h1>
    <mat-divider></mat-divider>
  </div>
  <div>
    <h3>Searcher</h3>
  </div>

  <mat-form-field>
    <mat-label>Hero</mat-label>
    <input
      type="text"
      placeholder="Search one"
      aria-label="Hero"
      matInput
      [(ngModel)]="item"
      [matAutocomplete]="auto"
      (input)="searching()"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="selectedOption($event)"
    >
      <mat-option *ngFor="let hero of heroes" [value]="hero">
        {{hero.superhero}}
      </mat-option>
      <mat-option *ngIf="noHero"
        >There's no information that match {{ item }}</mat-option
      >
    </mat-autocomplete>
  </mat-form-field>
</div>
